html, body, .page .section {
    text-size-adjust: 50%;
    -ms-text-size-adjust: 50%;
    -webkit-text-size-adjust: 50%;
    -moz-text-size-adjust: 50%
}

body, .page .section {
}

.page .section img {
  max-width: 300px;
  margin-left: 80px;
}
